In [15]:
import pandas as pd

# STC (Suudi Telekom) read the stock
df = pd.read_csv(r"C:\Users\User\PycharmProjects\BazaarX\env\Scripts\data\raw\al_rajhi_saudi.csv")

# İlk 5 satırı göster
df.head(10)

,Price,Close,High,Low,Open,Volume
0,Ticker,1120.SR,1120.SR,1120.SR,1120.SR,1120.SR
1,Date,NaN,NaN,NaN,NaN,NaN
2,2024-01-01,83.15817260742188,83.63719432218976,82.87075665484461,82.87075665484461,2871681
3,2024-01-02,83.25397491455078,83.25397491455078,82.29593149161991,83.15817203411595,3495693
4,2024-01-03,81.14627075195312,82.87075174669906,81.14627075195312,82.4875329357232,4288840
5,2024-01-04,83.82880401611328,83.82880401611328,79.8050243470565,80.47565185546875,5486572
6,2024-01-07,85.07425689697266,86.12810317577414,84.02040330888009,84.30781925277644,5900413
7,2024-01-08,85.07425689697266,85.64908147547428,84.59523519667279,85.07425689697266,2194854
8,2024-01-09,83.5413818359375,85.55327883010517,83.5413818359375,85.07425712850164,2510854
9,2024-01-10,83.15817260742188,84.02040584657102,82.39173494007673,83.44558125070782,3506720